
.heroSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: #dbeafe; /* bg-blue-100 */
  }
  
  .heroTitle {
    font-size: 2.25rem; /* text-4xl */
    font-weight: bold;
    color: #1f2937; /* text-gray-800 */
  }