/* Make the container take full viewport height and center content vertically */
.container {
  min-height: 100vh;       /* full viewport height */
  padding: 20px;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* Make the main content grow and center it horizontally */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  flex-grow: 1;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.heading {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
}

.btnAdd {
  display: inline-block;
  background-color: #2563eb; /* blue-600 */
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  margin: 0 auto 20px auto;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  width: max-content;
}

.btnAdd:hover {
  background-color: #1e40af; /* blue-800 */
}

.message {
  color: #dc2626; /* red-600 */
  margin-bottom: 16px;
  text-align: center;
}

.card {
  border: 1px solid #d1d5db; /* gray-300 */
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 0.1);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.image {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 8px;
}

.foodName {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 4px;
}

.description {
  color: #4b5563; /* gray-600 */
  margin-bottom: 4px;
  min-height: 40px;
}

.price {
  color: #16a34a; /* green-600 */
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 25px;
  margin: auto;
}

.btnDelete {
  background-color: #dc2626; /* red-600 */
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
  width: 100%;
}

.btnDelete:hover {
  background-color: #991b1b; /* red-800 */
}
